In [1]:
10+2

12

In [3]:
10+59

69

In [4]:
print('omi nema ka boyfriend chutiyaa hai')

omi nema ka boyfriend chutiyaa hai

# omi nema

In [8]:
print (round(10.6355))
print(round(10.3654,3))

11
10.365

In [9]:
c=15+2j
print (type(c))
print (abs(c)) #Convert value in positive 
print(round(c,3)) # shows error as round function doesn't work on complex no.

<class 'complex'>
15.132745950421556

In [16]:
complex(5+2j)
c=complex('5+2j')
print (abs(c))

5.385164807134504

In [18]:
divmod(10,3)

(3, 1)

In [20]:
import numpy as np #matrix

In [22]:
round(36.5)

36

In [24]:
b=0b11100
d=110
o=0o100
u=0x14d

float_1=3.14
float_2=1.5e4

c=5+3.14j

print(b,d,o,u)
print(float_1,float_2)
print(c,c.imag,c.real)

28 110 64 333
3.14 15000.0
(5+3.14j) 3.14 5.0

In [26]:
#DATA STRUCTURE are- LIST[] , Dictionary{} ,tuple(), sets{}

In [27]:
num1= input("Enter num 1 :")
num2= input("Enter num 2 :")
print ("Data type of num 1 and 2 is :",type(num1),type(num2))
add=num1+num2
print(add)
print("Data type of output is:",type(add))

Enter num 1 :2
Enter num 2 :3
Data type of num 1 and 2 is : <class 'str'> <class 'str'>
23
Data type of output is: <class 'str'>

In [28]:
num1= int(input("Enter num 1 :"))
num2= int(input("Enter num 2 :"))
print ("Data type of num 1 and 2 is :",type(num1),type(num2))
add=num1+num2
print(add)
print("Data type of output is:",type(add))

Enter num 1 :7
Enter num 2 :8
Data type of num 1 and 2 is : <class 'int'> <class 'int'>
15
Data type of output is: <class 'int'>

In [30]:
a=10
b=20
a,b=b,a
print(a,b)

20 10

In [31]:
a=10
b=50
a=a+b
b=a-b
a=a-b
print(a,b)

50 10